.menu-bar {
  display: flex;
  justify-content: right;
  padding: 1rem 1rem;
  background-color: #2c3e50;
  position: sticky;
  top: 0;
  z-index: 200;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 50);
}

.menu-bar-item {
  color: white;
  padding: 0.8rem 1.0rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top:auto;
  margin-bottom:auto
}

.menu-bar-item-button-wrapper {
  color: white;
  padding: 0.8rem 1.0rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top:auto;
  margin-bottom:auto
}

.menu-bar-item-button {
  background-color: #2196F3!important;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-bar-item:hover {
  background-color: #34495e;
}


@media (max-width: 768px) {
  .menu-bar {
    flex-wrap: wrap;
  }
  
  .menu-bar-item {
    flex-basis: 50%;
    text-align: center;
  }
}
